{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}MR.SQL - Home{% endblock %}
{% block page_content %} 
<div class="page-header">
    <h1>Welcome to MR.SQL!</h1>
</div> 
<div>
	<div style="float:left; width: 54%; font-size: 16px">
		{{ wtf.quick_form(form) }} 
	</div>
	<div style="float:left; width: 46%">
        <img src="../static/sign.jpeg">
    </div>

</div>
<div style="position:fixed; bottom:0px;">
    <p>If you are interested in this and want to know more,</p>
    <p>scontact me by e-mail: 0502tonylin@gmail.com</p>
</div>

<div style="position:fixed; bottom:0px; width:74%;">
    <p align="right">The local date and time is {{ moment(current_time).format('LLL') }}</p> 
    <p align="right">That was {{ moment(current_time).fromNow(refresh=True) }}</p>
</div>
{% endblock %}

