{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}MR.SQL - Home{% endblock %}
{% block page_content %} 
<div class="page-header">
    <h1>Welcome to MR.SQL!</h1>
</div> 
<div>
	<div style="float:left; width: 54%; font-size: 16px">
		{{ wtf.quick_form(form) }} 
	</div>
	<div style="float:left; width: 46%">
        <img src="../static/sign.jpeg">
    </div>

</div>
<div style="position:fixed; bottom:0px;">
    <p>If you are interested in this and want to know more,</p>
    <p>please feel free to contact me by e-mail: 0502tonylin@gmail.com</p>
</div>

<div style="position:fixed; bottom:0px; width:74%;">
    <p align="right">The local date and time is {{ moment(current_time).format('LLL') }}</p> 
    <p align="right">That was {{ moment(current_time).fromNow(refresh=True) }}</p>
</div>
<script>
    // 在全局定义验证码
    let code 
    // 产生验证码函数
    let createCode = () => {
      code = ''
      let codeLength = 4 // 验证码的长度
      let checkCode = document.getElementById('code')
      // 随机数
      let random = [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        'A',
        'B',
        'C',
        'D',
        'E',
        'F',
        'G',
        'H',
        'I',
        'J',
        'K',
        'L',
        'M',
        'N',
        'O',
        'P',
        'Q',
        'R',
        'S',
        'T',
        'U',
        'V',
        'W',
        'X',
        'Y',
        'Z'
      ]
      for (let i = 0; i < codeLength; i++) {
        // 循环操作
        let index = Math.floor(Math.random() * 36) // 取得随机数的索引（0~35）
        code += random[index] // 根据索引取得随机数加到code上
      }
      checkCode.value = code // 把code值赋给验证码
    }
    // 网页一刷新就刷新验证码
    createCode()
    // 验证码校验函数
    let validate = () => {
      let inputCode = document.getElementById('verification').value.toUpperCase() // 取得输入的验证码并转化为大写
      if (inputCode.length <= 0) {
        // 若输入的验证码长度为0
        alert('请输入验证码！') // 则弹出请输入验证码
        $('#verification').focus() // 重新聚焦验证码框
        YZM = false
      } else if (inputCode != code) {
        // 若输入的验证码与产生的验证码不一致时
        alert('验证码输入错误！@_@') // 则弹出验证码输入错误
        createCode() // 刷新验证码
        $('#verification').val('') // 清空文本框
        $('#verification').focus() // 重新聚焦验证码框
        YZM = false
      } else {
        // 输入正确时
        $('#verification').blur() // 绑定验证码输入正确时要做的事
        YZM = true
        //alert('验证码输入正确！@_@')
      }
    }
    // 校验验证码
    document.getElementById('login').addEventListener('change', validate)
  </script>
{% endblock %}

